html, body {
	font-family: 'Raleway', sans-serif;
	background-color: inherit;
	margin-bottom: 1em;
	padding:0;
}

*, *::before, *::after {
  box-sizing: border-box; /* include padding and border included in total width and height of elements */
}

.container {
  display: flex; /* or inline-flex */
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1em;
}

.row {
	padding-left: 1rem;
	padding-right: 1rem;
}


img {
  max-width: 100%;
  max-height: 100%;
}

.profilepic {
  margin-top: 2em;
  margin-bottom: 2em;
}

.skills_title {
  color: aqua;
  font-size: 2.5em;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
  font-weight: bolder;
}

.soft_skills_list {
	width:20%;
	float:right;
	margin-top:1rem;
	text-align: left;
	list-style-position: inside;
}

.experience li {
	margin-top: 1em;
	margin-bottom: 1em;
}

.navbar {
	text-align: left;
	width: 100%;
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.row{
		margin-left: 5em;
		margin-right: 5em;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
