

p {
  color: black;
}

html {
	font-family: 'Raleway', sans-serif;
	background-color: #6BD0D4;
  box-sizing: border-box;   /* makes width and height refer to entire box
                              instead of simply the content box - padding and
                              margin still apply */
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}


h1 {
	font-family: 'Sansita Swashed', cursive;
	font-size: 60px;
	text-align: center;
	margin: 0;
	}

h2 {
	font-size: 40px;
	text-align: left;
	}

p, li {
	font: sans-serif;
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
	}

body {
  width: 800px;
  margin: 0 auto;
  background-color: #8A939E;
  padding: 0 20px 20px 20px;
  border: 1px solid none;
}

img {
	display: block;
	margin: 0 auto;
	}

a:link {
  color: black;
}

a:visited {
  color: white;
}

#profilepic{
  padding: 50px;
}

#leftbox{
  float:left;
  width: 50%;
  height:850px;
}

/* for Hard Skills title*/
#leftbox h2{
margin-left: 30px;
}

#rightbox{
  float:right;
  width: 50%;
  height:700px;
  margin-top:150px;
}

/* for Soft Skills title*/
#rightbox h2{
margin-left: 30px;
}

#education{
  text-align: center;
  height: 220px;
}

#education h1{
  /*line-height: 50px;*/
  padding-bottom: 15px;

}

#contact
{
  text-align: center;
  height: 160px;
}

#contact h2{
  padding-top:20px;
  text-align: center;
}
