p {
  color: black;
}

html {
	font-family: 'Raleway', sans-serif;
	
	background-color: #6BD0D4;
}

h1 {
	font-family: 'Sansita Swashed', cursive;
	font-size: 60px;
	text-align: center;
	margin: 0;
	}
	
p, li {
	font: sans-serif;
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
	}
	
body {
  width: 700px;
  margin: 0 auto;
  background-color: #FBBE60;
  padding: 0 20px 20px 20px;
  border: 1px solid none;
}
	
img {
	display: block;
	margin: 0 auto;
	}